/* styles.css */

/* Exercise #1: Methods */

.div-one {
    color: white;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

/* Exercise #2: Class & ID Selectors */

.p-odd {
    background-color: #fba3a3;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.p-size {
    font-size: 24px;
}

#div-two {
    color: #0000ff;
    font-size: 36px;
}

#div-four {
    background-color: #80ff80;
    font-weight: bold;
    font-size: 24px;
}

/* Exercise #3: Grouping Selectors */

.black,
.yellow {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.black {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
}