/* styles.css */

/* Exercise #1: Methods */

.div-one {
    color: white;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

/* Exercise #2: Class & ID Selectors */

.p-odd {
    background-color: #fba3a3;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.p-size {
    font-size: 24px;
}

#div-two {
    color: #0000ff;
    font-size: 36px;
}

#div-four {
    background-color: #80ff80;
    font-weight: bold;
    font-size: 24px;
}

/* Exercise #3: Grouping Selectors */

.black,
.yellow {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.black {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
}

/* Exercise #4: Chaining Selectors */

.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

/* Exercise #5: Descendent Combinators */

.container .text {
    color: red;
    background-color: yellow;
    font-size: 20px;
    text-align: center;
}

/* Exercise #6: Cascade Fix */

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

.button.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.div-text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

.div-text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}