/* styles.css */

/* Exercise #1: Methods */

.div-one {
    color: white;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

/* Exercise #2: Class & ID Selectors */

.p-odd {
    background-color: #fba3a3;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.p-size {
    font-size: 24px;
}

#div-two {
    color: #0000ff;
    font-size: 36px;
}

#div-four {
    background-color: #80ff80;
    font-weight: bold;
    font-size: 24px;
}

/* Exercise #3: Grouping Selectors */

.black,
.yellow {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.black {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
}

/* Exercise #4: Chaining Selectors */

.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

/* Exercise #5: Descendent Combinators */

.container .text {
    color: red;
    background-color: yellow;
    font-size: 20px;
    text-align: center;
}

/* Exercise #6: Cascade Fix */

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

.button-one.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.button-one {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.div-text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

.div-text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

/* Exercise #7: Margins & Padding Practice #1 */

.div-body-one {
  max-width: 600px;
}

.one {
  background: pink;
  border: 3px solid blue;
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  padding: 32px;
  margin-left: auto;
}

/* Exercise #8: Margins & Padding Practice #2 */

.div-body-two {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

.button-two {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: 0 auto;
}